<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>诺亚方舟介绍</title>
    <link type="text/css" rel="stylesheet" href="../static/css&js/description.css">
    <link type="text/css" rel="stylesheet" href="../static/css&js/swiper.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css&js/INDEX.css">

</head>
<body>
<div id="description">
    <!--    <h1>Description</h1>-->
    <img src="../static/images/1032.png">
</div>
<div id="description2">
    <img src="../static/images/description.jpg" alt="picture" width="1400">

</div>
<!--<marquee direction="up" behavior="scroll" scrollamount="1080" scrolldelay="10000" loop="-1" width="1080" height="540" hspace="0" vspace="0">-->
<!--</marquee>-->
<div>
<p class="Text_Free" style="text-align: center; font-size: 100px;
      line-height: 1.9;
      font-weight: 200;
      color: #6dbbf2"><strong><em>Let's appreciate the work of VR</em></strong></p>
</div>
<div class="funBotLun">
    <div class="swiper-slide funBotLunItem swiper-slide-active" data-swiper-slide-index="0" style="width: 1080px;">
        <iframe
                class="contentImg iframeClass" data-rel="12"
                src="https://vr.shinewonder.com/pano/page/publik/modelcheck?vid=301243" frameborder="0" scrolling="no"
                allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" width="1540px"
                height="800px;">

        </iframe>
    </div>
</div>

</body>
</html>