<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design</title>
    <link type="text/css" rel="stylesheet" href="../static/css&js/For_Design.css">
</head>
<body>
<div id="logo">
    <img src="../static/images/logo_20221203_uugai.com-1670037978908.png" width="150" height="150" alt="logo1">
    <img src="../static/images/1050.png" alt="logo2" width="1250" height="150" style="align-content: normal">
  <script>
    alert("Hello,World!");
      document.write("Hello,World!");
      var a
      a = 3
      console.log(a)
  </script>

</div>

</body>
</html>
